body{
    margin: 0px;
    border: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo{
    background-color: rgb(221, 221, 221);
    padding-top: 3px;
}

.amarelo{
    background-color: rgb(255, 217, 47);
    height: 20px;
    margin: 0px;
}
img{
    width: 100%;
}

.botoes{
    background-color: rgb(221, 221, 221);
}